footer{
	text-align: center;
	width: 100%;
	background-color: #D74045;
	color: #fff;
}

.info{
	display: inline-block;
	text-align: left;
	margin: 35px 20px 15px 0px;
}

.infLayer1{
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.infLayer2{
	margin-left: 10px;
	display: inline-block;
}

.gitlink{
	text-decoration: underline;
	margin-top: -20px;
	font-size: 14px;
	color: #fff;
}

.original{
	text-decoration: underline;
	margin-top: -33px;
	margin-left: 10px;
	font-size: 14px;
	color: #fff;
}